<table class="table">

    <h1>一覧</h1>
    <thead>
        <tr>
            <th>月</th>
            <th>日</th>
            <th>内容</th>
            <th>円</th>
        </tr>
    </thead>
    <% @lists.each do |list| %>
    <tbody>
        <tr>
            <td><%= list.month %></td>
            <td><%= list.day %></td>
            <td><%= list.title %></td>
            <td><%= list.amount %></td>
            <td><%= link_to '詳細へ', list_path(list.id) %></td>
        </tr>
    </tbody>

    <% end %>

</table>

<div class="contaner has-text-centered">
    <p><%= link_to '新規投稿', new_list_path %></p>|<p><%= link_to '戻る', root_path %></p>
</div>


