<h2>新規投稿</h2>
<!--エラーメッセージ-->
  <% if @list.errors.any? %>
  <%= @list.errors.count %>件の記述ミスがあります。<br>修正し、再投稿してください。
  <ul>
    <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_with model: @list do |f| %>
  <p>月</p>
  <%= f.number_field :month %>
  <p>日</p>
  <%= f.number_field :day %>
  <p>内容</p>
  <%= f.text_field :title %>
  <p>金額</p>
  <%= f.number_field :amount %>

  <%= f.submit '投稿' %>
<% end %>
<%= link_to '戻る' , lists_path %>