<!DOCTYPE html>
<html>
  <head>
    <title>Kakeibo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
    <haeder>
      <div class="has-background-grey p-2">
        <a class="has-text-white title is-5" href="../">kakeibo</a>
      </div>
    </haeder>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="has-background-grey-lighter">
        <p class=""></p>
      </div>
    </footer>
  </body>


</html>
